[submodule "module/cuppr"]
	path = module/cuppr
	url = https://github.com/jauntyjocularjay/cupprchai.git
[submodule "module/enum"]
	path = module/enum
	url = https://github.com/jauntyjocularjay/enumjs.git
