[submodule "git"]
	path = git
	url = https://github.com/jauntyjocularjay/kwikgit.git
[submodule "module/cuppr"]
	path = module/cuppr
	url = https://github.com/jauntyjocularjay/cupprchai.git
[submodule "module/enum"]
	path = module/enum
	url = https://github.com/jauntyjocularjay/enumjs.git
[submodule "module/chaitests"]
	path = module/chaitests
	url = https://github.com/jauntyjocularjay/chaitests.git
